* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.detail {
  padding-top: 2rem;
  font-size: 1.2rem;
  font-stretch: extra-expanded;
}
input {
  background-color: #fff;
  min-height: 30px;
  min-width: 10px;
}

img {
  width: 40%;
}
.g2 {
  padding: 0.5rem 0;
}
.e3 {
  padding: 0rem 0;
}
.b4 {
  padding: 1rem 0;
}
.n5 {
  padding: 0rem 0;
}
.l6 {
  padding: 1rem 0;
}

.d7 {
  padding: 0;
}
